.greenbutton {
  display: flex;
  background-color: hsl(98, 62%, 38%); 
  color: white;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 3px solid hsla(49, 100%, 66%, 1);
  border-color: hsl(98, 62%, 38%);
  border-radius: 15px;
  padding: 20px 43px 20px 43px;
  font-size: 25px;
  margin: 0% 0% 0% 0%;
  overflow: hidden;
  transition: background-color 1s ease;
  transition: border-color 1s ease;
}

.greenbutton:hover {
  background-color: hsl(98, 55%, 55%);
  border: 3px solid hsla(49, 100%, 66%, 1);
}


.greenbuttonsmall {
  display: flex;
  background-color: hsl(98, 62%, 38%); 
  color: white;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: solid;
  border-color: hsl(98, 62%, 38%);
  border-radius: 15px;
  padding: 2px 45px;
  font-size: 25px;
  overflow: hidden;
  transition: background-color 1s ease;
  transition: border-color 1s ease;
}

.greenbuttonsmall:hover {
  background-color: hsl(98, 55%, 55%);
  border: solid;
  border-color: hsla(49, 100%, 66%, 1);
}