/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');



.header {
  background-color: hsla(12, 0%, 36%, 1);
  height: 5vh;
  display: flex;
  flex-direction: row;
}

.header p{
  font-size: 30px;
  color: hsla(49, 100%, 66%, 1);
  align-items: center;
  margin: 0% 0% 0% 4%;
}



.TeaBanner {
  height: 90vh;
  background-image: url("../img/TeaBanner.jpg");
  background-size: cover;
  background-position: center;
  background-color: hsla(97, 87%, 25%, 0.7);
  margin: 0% 0% 0% 0%;
}

.TeaBannerColumn {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0% 10% 0% 10%;
  background-color: hsla(0, 0%, 31%, 0.597);
  margin: 0% 0% 0% 9%;
}

.TeaBannerText {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: hsl(0, 0%, 100%);
}

.TeaBannerText h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.TeaBannerParagraph {
  font-weight: 320;
  font-size: 20px;
  text-align: justify;
}



.break1 {
  background-color: hsla(143, 55%, 27%, 1);
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-bottom: 10px;

}

.break1 h1 {
  font-size: 80px;
  font-style: italic;
  color: floralwhite;
  font-weight: 300;
}


.featurefloor {
  height: 50vh;
  background-color: hsla(143, 55%, 27%, 1);
}

.panelcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  padding: 10px 0% 10px 0%;
}

.panelcolumn{
  background-color: hsla(0, 49%, 43%, 1);
}

.panel1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-image: url("../img/f3.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: double;
  border-color: hsla(0, 49%, 43%, 1);
}


.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color 0.8s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double;
  border-color: hsla(0, 49%, 43%, 0.77);
}

.overlay h3{ 
  color: floralwhite;
  font-size: 100px;
  text-align: center;
  font-style: italic;
}


.panel1text {
  color: floralwhite;
  font-size: 60px;
  text-align: center;
}

.panel2text {
   color: floralwhite;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.panel1:hover .overlay {
  background-color: hsla(0, 100%, 19%, 0.45); 
}


.panel2 {
  display: flex;
  width: 50%;
  background-image: url("../img/f2.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: double;
  border-color: hsla(0, 49%, 43%, 1);
}

.panel2:hover .overlay {
  background-color: hsla(0, 100%, 19%, 0.44); 
}

.panel3 {
  display: flex;
  width: 25%;
  background-image: url("../img/teapicking1.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: double;
  border-color: hsla(0, 49%, 43%, 1);
}

.panel3:hover .overlay {
  background-color: hsla(0, 100%, 19%, 0.4); 
}

.panel3text {
  color: floralwhite;
  font-size: 50px;
  text-align: center;
}

.selectionbg {
  background-color: hsla(143, 55%, 27%, 1);
  padding: 3% 0% 10% 0%;
}

.Selection {
  padding: 1% 0% 2% 0%;
}


.SelectionHeaders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.SelectionHeaders h1 {
  font-size: 90px;
  font-weight: 20;
}

.SelectionHeaders h2 {
  font-size: 60px;
  font-weight: 300;
}

.SelectionHeaders h3 {
  font-size: 50px;
  font-weight: 40;
}

.seltag {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 20
}

.SelectionHeaders h2, .SelectionHeaders h3, .teaguide p {
  color: white;
}

.seltag, .SelectionHeaders h1{
  color: hsla(49, 100%, 66%, 1)
}

.seltag {
  font-size: 28px;
}

.SelectionItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.SelectionItems > * {
  margin: 0 15px 0 15px;
}




.selimg {
  background-position: center;
  background-size: cover;
  height: 235px;
  width: 235px;
  border-radius: 50%;
  border: 3px solid hsla(121, 5%, 12%, 1); 
  box-shadow: 0 0 0 2px hsla(49, 100%, 66%, 1) inset;
  transition: filter 0.5s ease;
}

.selimg:hover {
  filter: brightness(120%);
}

.Sencha .selimg {
  background-image: url('../img/sencha.png');
}

.Jasmine .selimg {
  background-image: url('../img/jasmine.jpg');
}

.Lemon .selimg {
  background-image: url('../img/lemon.png');
}

.Peach .selimg {
  background-image: url('../img/peach.png');
}

.White .selimg {
  background-image: url('../img/white.png');
}

.Apple .selimg {
  background-image: url('../img/apple.png');
}



.EB .selimg {
  background-image: url('../img/apple.png')
}

.Strawberry .selimg {
  background-image: url('../img/strawberry.png')
}

.Oolong .selimg {
  background-image: url('../img/oolong.png')
}

.Pineapple .selimg {
  background-image: url('../img/pineapple.png')
}

.EG .selimg {
  background-image: url('../img/eg.png')
}

.LG .selimg {
  background-image: url('../img/lg.png')
}


.teaguide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0 1% 0;
}

.teaguide p{
  font-size: 24px;
  font-weight: 30;
}

.guidelink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.guidelink div{
  margin: 0 0 0 9%;
}



.premiumHeader{
  background-color: hsla(143, 55%, 27%, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1%;
}

.premiumHeader h1{
  color: hsla(49, 100%, 66%, 1);
  font-size: 90px;
  font-weight: 70;
  font-family: 'Montserrat', sans-serif;
}

.premiumcontainer{
  display: flex;
  flex-direction: row;
  height: 40vh;
  cursor: pointer;
}

.premium1, .premium2, .premium3, .premium4{
 background-color: hsla(105, 0%, 20%, 1);
 flex: 1;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.premium1 > div, .premium2 > div, .premium3 > div, .premium4 > div{
  flex: 1;
}


.premoverlay1, .premoverlay2, .premoverlay3,  .premoverlay4 {
  background-color: hsla(0, 0%, 0%, 0.0);
  transition: background-color 0.6s ease;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium1:hover .premoverlay1,
.premium2:hover .premoverlay2,
.premium3:hover .premoverlay3,
.premium4:hover .premoverlay4 {
  background-color: hsla(123, 100%, 76%, 0.08); 
}

.premimg1, .premimg2, .premimg3, .premimg4 {
  display: flex;
  flex-grow: 1;
  background-position: center;
  background-size: cover;
}

.premimg1{
  background-image: url('../img/sgtea.jpg');
}

.premimg2 {
  background-image: url('../img/mangob.png');
}

.premimg3{
  background-image: url('../img/drn.png');
}

.premimg4{
  background-image: url('../img/buko.png');
}

.premoverlaytxt1, .premoverlaytxt2, .premoverlaytxt3, .premoverlaytxt4 {
  opacity: 0;
  margin: 0 5% 0 5%;
  font-size: 36px;
  font-weight: 360;
  word-spacing: 7%;
  color: white;
  transition: opacity 0.8s ease;
  text-align: center;
}

.premium1:hover .premoverlaytxt1,
.premium2:hover .premoverlaytxt2,
.premium3:hover .premoverlaytxt3,
.premium4:hover .premoverlaytxt4 {
  opacity: 1;
}


.premtag1, .premtag2, .premtag3, .premtag4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.premtag1 h1, .premtag2 h1, .premtag3 h1, .premtag4 h1{
  color: hsla(49, 100%, 66%, 1);
  font-size: 60px;
  font-weight: 30;
}

.premtag1 h2, .premtag2 h2,  .premtag3 h2, .premtag4 h2{
  color: hsla(49, 100%, 66%, 1);
  font-size: 70px;
  font-weight: 30;
}

/* Team */

.teambg {
  height: 76vh;
  background-color: hsla(105, 0%, 20%, 1);
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.5);
}

.teamlayout {
  display: flex;
  flex-direction: row;
}


.aboutcolumn{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4% 4% 0 4%;
  color: hsla(49, 100%, 66%, 1);
}

.aboutcolumn p {
  margin: 3% 0% 2% 0%;
  text-align: center;
  line-height: 2.0;
  letter-spacing: 3px;
}

.membercardcolumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 2;

}

.membercardrow {
  display: flex;
  flex-direction: row;
}

.membercardrow div{
}

.membercard {
  height: 38vh;
  width: 17vw;
  filter: brightness(0.7);
  background-position: center;
  background-size: cover;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: filter 0.6s ease;
  cursor: pointer;
}

.fil1{
 background-image: url('../img/fil1.jpg');
}

.fil2{
  background-image: url('../img/fil2.jpg');
}

.fil3 {
 background-image: url('../img/fil3.jpg');
}

.fil4 {
 background-image: url('../img/fil4.jpg');
}

.fil5 {
 background-image: url('../img/fil5.jpg');
}

.fil6 {
 background-image: url('../img/fil6.jpg');
}

.membercard:hover {
  filter: brightness(0.9)
}

.membercard div {
  text-shadow: 6px 6px 8px hsla(0, 0%, 0%, 1);
  color: hsla(49, 100%, 66%, 1);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 4%;
}